@{
    ViewData["Title"] = "GetCourseId";
}

@using ExamensArbeteMVC.DBcontext;
@using ExamensArbeteMVC.Models;
@using ExamensArbeteMVC.RepositoryData;


@model CourseModel

<div class="container">
    <partial name="_CourseInfo" />
        </div>
        <br />
