@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div >
<img style="padding-top: 0px" class ="Backgroung-img"src = "~/Images/AboutusTeam.png"   class="img-fluid" alt="Responsive image" width="100%" />
 <div class="top-left">
 <h1 >Your way to a new future</h1>
 <br />
 <div class="container" style="text-align: center" >
    <a  asp-controller="Form" asp-action="ContactForm" type="button"  class="btn btn-outline-primary btn-lg" value="About us">Contact us</a>
</div>
</div>



<div class ="container">
<h1>This is the about us page</h1>
<p>Here you can read more about us</p>
</div>

@**@