@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div >
<img style="padding-top: 0px" class ="Backgroung-img"src = "~/Images/AboutusTeam.png"   class="img-fluid" alt="Responsive image" width="100%" />
 <div class="top-left">
        <h1 style="font-weight: bold;" >Your way to a new future</h1>
        <h5>Our programs are the first step on your path to a brighter <br /> and more successful future.</h5>
        <h5>Let us guide you on your journey to a brighter future.</h5>
        <h5>In this website we invite you to read more about our courses and <br />and find our contact information. </h5>
 <br />
 <div class="container" style="text-align: center" >
    <a  asp-controller="Form" asp-action="ContactForm" type="button"  class="btn btn-outline-primary btn-lg" value="About us">Contact us</a>
</div>
</div>
</div>

<div class=" AboutUsBK">
    <div class="row">
        <div class="col-md-4">
            <img style="padding-bottom: 0px" class="Backgroung-img" src="~/Images/Ques.png" class="img-fluid" alt="Responsive image" width="80%" />
        </div>

    <div class=" col-md-6 top-right">
            <h1 style="font-weight: bold;" >Welcome to SkillStream's curriculum.</h1>
        <br />
        <h5>
            SkillSteam is a proven path to your first software developer job.
            Many people have gotten developer jobs after completing this skills
        </h5>
        <h5>If you are new to programming, we recommend you start at the beginning and earn these certifications in order.</h5>
        <h5>To earn each certification, build its 5 required projects and get all their tests to pass.</h5>
        <h5>You can add these certifications to your résumé or LinkedIn. But more important than the certifications is the practice you get along the way.
        </h5>
        <h5>
            If you feel overwhelmed, that is normal. Programming is hard.
            Practice is the key. Practice, practice, practice.
        </h5>
        <h5>Happy coding!</h5>
    </div>
   
    </div>
</div>


  @*  <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h1 class=" text-black">Heading</h1>
                    <p class=" text-black" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis nulla vel velit dignissim faucibus. Sed auctor, libero a sagittis imperdiet, urna mauris rutrum augue, sit amet placerat ex nibh sed tellus.</p>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <img src="~/Images/aboutus1.jpg" alt="image" width="300"  >
                </div>
            </div>
        </div>
    </div>*@

@*    <div class="container ">
        <div class="row options">

            <div class="">
                <div class="wrap">
                    <img class="blockico rounded-circle shadow" src="~/Images/aboutus1.jpg" width="200" height="200">
                    <br />
                <div class="aboutText container">
                        <h5><span style="font-size: 28px; font-family:'Times New Roman'">''</span> When you look up from your small group and everyone is doing what they are supposed too! so happy to be a member of this organization<span style="font-size: 28px; font-family:'Times New Roman'">''</span></h5>
                <h5>-Anna Kane</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="container ">
        <div class="row options">

            <div class="">
                <div class="wrap">
                    <img class="blockico rounded-circle shadow" src="~/Images/aboutUs2.jpg" width="200" height="200">
                    <br />
                    <div class="aboutText container">
                        <h5> " When you look up from your small group and everyone is doing what they are supposed too! so happy to be a member of this organization"</h5>
                        <h5>-Anna Kane</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@
