@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ContactFormModel


<div class="container">
    <h1>Contact us:</h1>
    <h6>Would you like to know more about how it works with booking our courses, the costs and more about proceed? <br />
Write to us via the form and we will contact you shortly.</h6>
<div class="card  shadow">
     <div class="card-body">

<form method="post">
   
    <label asp-for="Name">Your Name:</label>
    <input asp-for="Name" class="form-control" />

     <label asp-for="AfterName">AfterName:</label>
    <input asp-for="AfterName" class="form-control" />

     <label asp-for="Adress">Adress:</label>
    <input asp-for="Adress" class="form-control" />

     <label asp-for="Email">Email:</label>
    <input asp-for="Email" class="form-control"/>

     <label asp-for="Message">Message:</label>
    <textarea asp-for="Message" class="form-control"> </textarea>
     <br />
  <button type="submit" class="btn btn-primary" value="Contact us">Submit</button>
     
</form>

</div>

</div>

</div>