@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}
 <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExamensArbeteMVC.styles.css" asp-append-version="true" />



  <img style="padding-top: 0px" class ="HomeImg"src = "~/Images/HomePage.jpg"   class="img-fluid" alt="Responsive image" width="100%" />
  <br />

<div class=" box container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/round1.jpg" class="box card-img-top rounded-circle" alt="Placeholder Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Placeholder Title</h5>
                    <p class="card-text">Placeholder text goes here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/round1.jpg" class="box card-img-top rounded-circle" alt="Placeholder Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Placeholder Title</h5>
                    <p class="card-text">Placeholder text goes here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Images/round1.jpg" class="box card-img-top rounded-circle" alt="Placeholder Image">
                <div class="card-body text-center">
                    <h5 class="card-title">Placeholder Title</h5>
                    <p class="card-text">Placeholder text goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
