@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/ExamensArbeteMVC.styles.css" asp-append-version="true" />
<div>
<div class="top-left">
        <h1 style="font-weight: bold;">SkillStream</h1>
    <h2>ONLINE EDUCATION</h2>
        
    </div>
<img style="padding-top: 0px" class="HomeImg" src="~/Images/Laptop.jpg" class="img-fluid" alt="Responsive image" width="100%" />
    
</div>
    <br />
@*information about us*@
<div class=" box container">
    <div class="row">
        <div class="col-md-4">
            <div class="card image-container">
                <img src="~/Images/Oppurtunity.png" class="img-fluid hover-zoom box card-img-top container " alt="Placeholder Image">
                <div class="container card-body text-center">
                    <h3 class="card-title">Opportunities</h3>
                    <h6 class="card-text">The course is designed to provide learners with opportunities to get a promotion, becoming better at thier current job, or even finding a new job.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card image-container">
                <img src="~/Images/Skills.png" class="img-fluid hover-zoom  box card-img-top container " alt="Placeholder Image" width="80%">
                <div class=" container card-body text-center">
                    <h3 class="card-title">Skills</h3>
                    <h6 class="card-text">learners will get competencies like knowledge, skills, and abilities to perform the tasks and make them ready to job.</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card image-container">
                <img src="~/Images/Certificate.png" class="img-fluid hover-zoom  box card-img-top container " alt="Placeholder Image">
                <div class="container card-body text-center">
                    <h3 class="card-title">Certificate</h3>
                    <h6 class="card-text">Upon meeting the course criteria, learners will be presented with a certificate of proficiency..</h6>
                </div>
            </div>
        </div>
    </div>
</div>
@*how it is works information*@
<div class=" angled-gradient">
    <div class="row">
        <div class="col-sm-8 mx-auto">

            <h1 class="text-left">HOW WE WORK</h1>
            <h3 class="text-left">Get matched with a personal mentor </h3>
            <h5>
                <ul style="list-style-position: inside;">

                    <li>Online Coding Classes, Learn coding from your home.</li>
                    <li>The courses are entirely flexible and personalised according you need </li>
                    <li>Numerous practice exercises to master your coding skills.</li>
                    <li>Book your course today by contacting us through email </li>
                    <li>Our payment system is straightforward and user-friendly.</li>
                    <li>Sign up for our course today and take advantage of our free trial offer.</li>
                    <li>We stand behind our courses and guarantee that you'll learn the skills you need to succeed.</li>
                    <li>Our teachers are not only well-educated, but also creative, inspiring, and dedicated <br />to helping you learn.</li>
                </ul>
            </h5>


        </div>
        <div class="col-sm-4">
            <img style="padding-top: 0px" src="~/Images/work.png" class=" HomeImg float-right" alt="Responsive image" width="90%" />

        </div>
    </div>

</div>

@*line information*@
<div class="LineInfo " >
    <div class="row">
        <div class="col-md-4">
            
               
                <div class="card-body text-center">
                <h1 class="card-title text-white">4 000+</h1>
                <h1 class="card-text text-white">Students.</h1>
                </div>
           
        </div>
        <div class="col-md-4">
           
              
                <div class="card-body text-center">
                <h1 class="card-title text-white">45+</h1>
                <h1 class="card-text text-white">Countries.</h1>
                </div>
           
        </div>
        <div class="col-md-4">
           
                
                <div class="card-body text-center">
                <h1 class="card-title text-white">100%</h1>
                <h1 class="card-text text-white">consumer satisfaction.</h1>
                </div>
            
        </div>
    </div>
</div>
<br />
@*the student reviews
*@
<br />
<br />
<div class="container ">
    <div class="row options">

        <div class="">
            <div class="wrap">
                <img class="blockico rounded-circle shadow" src="~/Images/student1.jpg" width="200" height="200">
                <br />
                <div class="aboutText container">
                    <h5><span style="font-size: 28px; font-family:'Times New Roman'">''</span> I don’t think I would have gotten the job I have without that year of Thinkful. I think it opened many future opportunities for me.<span style="font-size: 28px; font-family:'Times New Roman'">''</span></h5>
                    <h5>-Rachelle Kane</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div class="container ">
    <div class="row options">

        <div class="">
            <div class="wrap">
                <img class="blockico rounded-circle shadow" src="~/Images/student2.jpg" width="200" height="200">
                <br />
                <div class="aboutText container">
                    <h5><span style="font-size: 28px; font-family:'Times New Roman'">''</span> It's scary to change careers. I only gained confidence that I could code by working through the hundreds of hours of free lessons on SkillStream. Within a year I had a six-figure job as a Software Engineer. SkillStream changed my life.<span style="font-size: 28px; font-family:'Times New Roman'">''</span></h5>
                    <h5>-Philip Petersson</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="container ">
    <div class="row options">

        <div class="">
            <div class="wrap">
                <img class="blockico rounded-circle shadow" src="~/Images/student3.jpg" width="200" height="200">
                <br />
                <div class="aboutText container">
                    <h5><span style="font-size: 28px; font-family:'Times New Roman'">''</span>I've always struggled with learning JavaScript. I've taken many courses but SkillStream's course was the one which stuck. Studying JavaScript as well as data structures and algorithms on SkillStream gave me the skills and confidence I needed to land my dream job as a software engineer at Spotify. <span style="font-size: 28px; font-family:'Times New Roman'">"</span></h5>
                    <h5>-Sam Edward</h5>
                </div>
            </div>
        </div>
    </div>
</div>

