@using Microsoft.AspNetCore.Identity
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData ["Title"] - ExamensArbeteMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExamensArbeteMVC.styles.css" asp-append-version="true" />

@inject SignInManager<IdentityUser> _signinManager

@{
    var user = _signinManager.IsSignedIn(User);
}
@if (user)
{

    <li class="nav-item  text-white">
        
             Hello @((User.Identity?.Name))


        <a class="btn btn btn-danger" asp-action="LogOut" asp-controller="Account">Log out</a>
        
    </li> 
   
}
else

{

    <li class="nav-item logoText2" >
    <a class="btn btn btn-danger" asp-controller="Account" asp-action="login">Login</a>
    <a class="btn btn btn-danger" asp-controller="Account" asp-action="SignUp">Register</a>
    </li>

    }





  @*  @if (!_signinManager.IsSignedIn(User))*@