html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.product-item-badge{
    position: absolute;
    top: 4px;
    left: 4px;
    padding: 5px 12px 6px;
    color: aliceblue;
    font-size: 12px;
    line-hieght: 14px;
    font-wieght: 600;
    background: #ff0000;
}
.product-item-badge{
    background: #f89406;
}