html {
    height: 100%;
    max-height: 100%;
    font-size: 14px;
    position: relative;
}




@media (min-width: 768px) {


    /*body {
    margin-top: -60px;
    padding-top: 60px;
}*/
    .product-item-badge {
        position: absolute;
        top: 4px;
        left: 4px;
        padding: 5px 12px 6px;
        color: aliceblue;
        font-size: 12px;
        background: #ff0000;
    }

    .product-item-badge {
        background: #f89406;
    }


    ul {
        line-height: 150%;
    }

    .col-md-4 {
    }

    .del {
        text-align: center;
        vertical-align: central;
        margin: 5%;
    }

    /*   .footer {
        width: 100%;
        bottom: 0;
        position:fixed;
        height: 50px;
        
    }
*/
    #header {
        position: fixed;
        top: 0;
        height: 100px;
    }

    /*    #body {
        min-height: 200vh;
        display: flex;
        flex-direction: column;
      
      
    }*/

    .navbar-text {
        color: green;
    }

    .HomeImg {
        width: stretch;
    }

    /*  #footer {
        margin-top: auto;
        background-color: #000;
        color: #fff;
        opacity: .5;
    }*/

    body {
        height: 150%;
    }

    #wrap {
        min-height: 100%;
    }

    #main {
        overflow: auto;
        padding-bottom: 160px; /* this needs to be bigger than footer height*/
    }


    #footer {
        background-color: #000;
        color: #fff;
        opacity: .5;
        position: relative;
        margin-top: -160px; /* negative value of footer height */
        height: 160px;
        clear: both;
        padding-top: 10px;
        padding-bottom: 50px;
    }



    .text-over-img {
        text-align: left;
    }

    .top-left {
        position: absolute;
        top: 300px;
        left: 100px;
    }

    .angled-gradient {
        background-size: 100px 80px;
        background-repeat: no-repeat;
        background-position: center center;
        background: linear-gradient(70deg, #ebb1b1, #b1e8e2);
    }

    .logoText {
        padding-left: 50px;
    }

    .logoText2 {
        padding-right: 20px;
    }